
@{
    ViewBag.Title = "经典案例";
    ViewBag.Type = "CasePage";
}

<link rel="stylesheet" href="~/Content/case.css">

<body>
    <section class="lrsection lrManagement">
        <div class="lrCont clearfix">
            <div class="fl lrPhone col-sm-12">
                <h2>经典案例</h2>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他们都在用乐融民工考勤系统</p>
            </div>
        </div>
    </section>

    <section class="sectionCont clearfix">
        <div class="col-md-4 sectionImg">
            <img src="../images/wanke.png" alt="">
            <p>万科江望</p>
        </div>
        <div class="col-md-4 sectionImg">
            <img src="../images/tingtaoyuan.png" alt="">
            <p>听涛苑二期</p>
        </div>
        <div class="col-md-4 sectionImg">
            <img src="../images/qinghuafang.png" alt="">
            <p>清华坊二期</p>
        </div>
        <div class="col-md-4 sectionImg">
            <img src="../images/hengda.png" alt="">
            <p>潮州恒大山水城</p>
        </div>
        <div class="col-md-4 sectionImg">
            <img src="../images/jindingwan.png" alt="">
            <p>金町湾</p>
        </div>
        <div class="col-md-4 sectionImg">
            <img src="../images/lishuishili.png" alt="">
            <p>里水十里尚堤南苑二期</p>
        </div>
        <div class="col-md-4 sectionImg">
            <img src="../images/biguiyuan.png" alt="">
            <p>碧桂园天汇</p>
        </div>
        <div class="col-md-4 sectionImg">
            <img src="../images/baolihefu.png" alt="">
            <p>保利和府</p>
        </div>
    </section>
</body>

