
@{
    ViewBag.Title = "资讯中心";
    ViewBag.Type = "InfoCenterPage";
}

<link rel="stylesheet" href="~/Content/informationCenter.css">

<body>
    <section class="lrsection lrManagement">
        <div class="lrCont clearfix">
            <div class="lrPhone col-sm-7">
                <h2>资讯中心</h2>
                <p style="text-indent:5em;">接收最新资讯，时刻走在科技前端</pstyle="text-indent:6em;">
            </div>
            <div class="lrfr col-sm-5">
                <img src="../images/information.png" alt="">
            </div>
        </div>
    </section>

    <section class="sectionCont">
        <div class="media">
            <ul class="cases">
                <li class="clearfix">
                    <div class="clearfix">
                        <div href="javascript:;" class="mediaImg col-xs-12 col-md-3 text-center clearfix">
                            <img src="../images/news.png" width="268" height="189" alt="图片">
                        </div>
                        <div class="col-xs-12 col-md-9 clearfix">
                            <dl>
                                <dt><a href="javascript:;">人脸识别考勤数据</a></dt>
                                <dd class="date">
                                    <span>发布时间：2017-09-27 17:07:36</span>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;来源：鲁班长科技</span>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;作者：lbz</span>
                                </dd>
                                <dd class="info">近日，义乌市政府为了规范建筑工程施工现场从业人员管理，发布了《义乌市城市管理委员会文件》，文件指出，在义乌市行政区域内从事建筑工程施工活动的建筑业企业、监理企业及其从业人员，都必须落实工地现场从业人员实名制。 众所周知，实行工地实名制管理，使总包对劳务分包人数清、情况明、人员对号、调配有序，从而促进......</dd>
                                <dd class="tip">标签：行业动态</dd>
                                <dd class="f-cb">
                                    <a href="@Url.Action("Detail", "InfoCenter")" class="more fr">查看详情</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <div class="clearfix">
                        <div href="javascript:;" class="mediaImg col-xs-12 col-md-3 text-center clearfix">
                            <img src="../images/news.png" width="268" height="189" alt="图片">
                        </div>
                        <div class="col-xs-12 col-md-9 clearfix">
                            <dl>
                                <dt><a href="javascript:;">人脸识别考勤数据</a></dt>
                                <dd class="date">
                                    <span>发布时间：2017-09-27 17:07:36</span>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;来源：鲁班长科技</span>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;作者：lbz</span>
                                </dd>
                                <dd class="info">近日，义乌市政府为了规范建筑工程施工现场从业人员管理，发布了《义乌市城市管理委员会文件》，文件指出，在义乌市行政区域内从事建筑工程施工活动的建筑业企业、监理企业及其从业人员，都必须落实工地现场从业人员实名制。 众所周知，实行工地实名制管理，使总包对劳务分包人数清、情况明、人员对号、调配有序，从而促进......</dd>
                                <dd class="tip">标签：行业动态</dd>
                                <dd class="f-cb">
                                    <a href="@Url.Action("Detail", "InfoCenter")" class="more fr">查看详情</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>

