
<footer>
    <div class="sectionCont clearfix">
        <div class="col-md-4 col-sm-12 companyLogo">
            <img src="../images/ryl.png" alt="融易乐">
            <p class="pCont">打造建筑企业智能化、数据化、信息化平台</p>
            <a href="http://admin.yirongtech.com/" target="_blank" class="login">登录民工后台管理</a>
        </div>
        <div class="col-md-4 col-sm-12 company">
            <div style="margin-bottom:20px;">
                <img src="../images/tel.png" alt="电话">
                <span>&nbsp;400 - 3083 - 3887</span>
            </div>
            <p>企业邮箱：hr@yirongtech.com</p>
            <p>公司地址：深圳市罗湖区深南东路1703号A座17楼</p>
            <p class="copyRight">CopyRight ©2017 备案号：粤ICP备16067423</p>
        </div>
        <div class="col-md-4 col-sm-12 text-right">
            <img src="../images/code.png" alt="">
        </div>
    </div>
</footer>

