
@{
    ViewBag.Title = "产品中心";
    ViewBag.type = "ProductPhonePage";
}

<link rel="stylesheet" href="~/Content/productCenter.css">

<body>
    <section class="lrsection">
        <div class="lrCont clearfix">
            <div class="lrPhone col-sm-7">
                <h2>乐融移动端</h2>
                <p>
                    乐融移动端软件用于考勤民工上，当软件安装手机上市时。使手机里脊变成一台考勤机， 使用企业端创建的账号和密码方可登录，可随时对工人进行考勤，查看项目进度 员工状态，快捷方便！并且考勤数据上传到云端。
                </p>
            </div>
            <div class="lrfr col-sm-5">
                <img src="../images/lrPhone.png" alt="">
            </div>
        </div>
    </section>

    <h2 class="attendance text-center">考勤端功能介绍</h2>
    <section class="sectionCont clearfix attendanceSection">
        <ul>
            <li class="clearfix">
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/shualian.png" alt="刷脸考勤">
                </div>
                <div class="fl col-xs-12 attendanceCont">
                    <h3>刷脸考勤</h3>
                    <p>采用人脸识别技术，保障了考勤的准确性和高效性， 1秒识别，准确率达99%。</p>
                </div>
            </li>
            <li class="clearfix hidden-sm hidden-xs">
                <div class="fl col-xs-12 attendanceCont">
                    <h3>数据云存储</h3>
                    <p>考勤数据实时上传到云端，在工人端、PC管理端和移动管理端都能实时查看， 公平公正，安全无忧。</p>
                </div>
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/yunData.png" alt="刷脸考勤">
                </div>
            </li>
            <li class="clearfix hidden-md hidden-lg">
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/yunData.png" alt="刷脸考勤">
                </div>
                <div class="fl col-xs-12 attendanceCont">
                    <h3>数据云存储</h3>
                    <p>考勤数据实时上传到云端，在工人端、PC管理端和移动管理端都能实时查看， 公平公正，安全无忧。</p>
                </div>
            </li>
            <li class="clearfix">
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/salary.png" alt="刷脸考勤">
                </div>
                <div class="fl col-xs-12 attendanceCont">
                    <h3>薪资代发</h3>
                    <p>乐融科技专门为建筑管理设计的一款集工资管理、考勤记录、社交 及个人理财于一体的智能应用软件。</p>
                </div>
            </li>
        </ul>
    </section>

    <section class="sectionCont powerful">
        <h4>主要功能及特点：</h4>
        <p>（一）适用场景：项目管理员随时随地监控施工企业及项目进度；</p>
        <p>（二）远程监管：实时查看项目人员在场及考勤，远程管控施工现场；</p>
        <p>（三）数据分析：自动生成数据报表，提供项目分析，实现对项目的智能化管控。</p>
    </section>
</body>

