
@{
    ViewBag.Title = "首页";
    ViewBag.type = "HomePage";
}

<link rel="stylesheet" href="~/Content/LearnMore.css">

<body>
    <section class="lrsection">
        <div class="lrCont clearfix">
            <div class="lrPhone col-sm-7">
                <h2>行业解决方案</h2>
                <p style="text-indent:5em;">乐融民工 人脸识别考勤管理，告别传统考勤方式的各种弊端</p>
            </div>
            <div class="lrfr col-sm-5">
                <img src="../images/light.png" alt="">
            </div>
        </div>
    </section>

    <section class="sectionCont clearfix attendanceSection">
        <ul>
            <li class="clearfix">
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/face1.png" alt="人脸识别系统">
                </div>
                <div class="fl col-xs-12 attendanceCont">
                    <h3>人脸识别系统</h3>
                    <p>0.1秒快速识别</p>
                    <p>抗人脸姿态变化干扰</p>
                    <p>抗遮挡、抗可见光识别，不同年龄段识别</p>
                </div>
            </li>
            <li class="clearfix hidden-xs hidden-sm">
                <div class="fl col-xs-12 attendanceCont">
                    <h3>企业后台数据</h3>
                    <p>了解整个工地工人的出入考勤数据项目的预警、数据回查</p>
                </div>
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/qiye1.png" alt="企业后台数据">
                </div>
            </li>
            <li class="clearfix hidden-md hidden-lg">
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/qiye1.png" alt="企业后台数据">
                </div>
                <div class="fl col-xs-12 attendanceCont">
                    <h3>企业后台数据</h3>
                    <p>了解整个工地工人的出入考勤数据项目的预警、数据回查</p>
                </div>
            </li>
            <li class="clearfix">
                <div class="fl col-xs-12 attendanceImg">
                    <img src="../images/money1.png" alt="薪资管理">
                </div>
                <div class="fl col-xs-12 attendanceCont">
                    <h3>薪资管理</h3>
                    <p>承包商发放工人薪水拖欠；统计工人工时，繁琐复杂</p>
                </div>
            </li>
        </ul>
    </section>
</body>

